<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}
        <link rel="stylesheet" href="/styles/stylesAdmin.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>

        <header>
            <a href="/" class="logo"><img src="/assets/logo2.png" alt="logo"></a>
            <div class="link">
                <a href="/about"></a>
                <a href="/recipes"></a>
            </div>
        </header>
        {% block content %}{% endblock content %}
        <footer>
            <p>Criado por Bryner Pereira</p>
        </footer>
    </body>

</html>