{% extends "layout.njk" %}

{% block content %}

   
    <div class="banner container">
            <div>
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.<p>   
            </div>

            <img src="/assets/chef.png" alt="chef">    
            
    </div>


    <div class="tittle-cards">
        <h4>Mais Acessados</h4>
    </div>

    <section class="main_cards">
        <div class="card">
            <div class="card-img">
                
                <a href="/recipe/burger"><img src="/assets/burger.png" alt="burger"></a>
            </div>
            <div class="card-content">
                <p>Super burger</p>
                <span>Por fulano
                </span>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
              <a href="/recipe/asinhas">  <img src="/assets/asinhas.png" alt="wings"> </a>
            </div>
            <div class="card-content">
                <p>Asinhas de frango</p>
                <span>Por fulano
                </span>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
              <a href="/recipe/doce">  <img src="/assets/doce.png" alt="doce"> </a>
            </div>
            <div class="card-content">
                <p>Chocolate caseiro</p>
                <span>Por fulano
                </span>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
             <a href="/recipe/espaguete"><img src="/assets/espaguete.png" alt="pasta"> </a>
            </div>
            <div class="card-content">
                <p>Espaguete a moda</p>
                <span>Por fulano
                </span>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
             <a href="/recipe/lasanha"><img src="/assets/lasanha.png" alt="pasta2"></a>
            </div>
            <div class="card-content">
                <p>Lasanha Gourmet</p>
                <span>Por fulano
                </span>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
               <a href="/recipe/pizza"> <img src="/assets/pizza.png" alt="pizza"></a>
            </div>
            <div class="card-content">
                <p>Pizza com massa caseira</p>
                <span>Por fulano
                </span>
            </div>
        </div>

    </section>

    </div>


        {% endblock content %}